
@import url('https://fonts.googleapis.com/css2? family= Roboto+Slab:wght@800 & display=swap');

*¨{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    background-image: url(../imagenes/zambo\ music\ \(1\).png) ;
    background-size:cover;
    background-image: url(../imagenes/zambo\ music\ \(1\).png);
    background-size: cover;
}


h1{
    color: rgb(116, 116, 116);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
}

.primerParrafo{
    font-style: italic;
    font-weight: bolder;
    font-size: 23px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: rgb(116, 116, 116);
}
p{
    line-height: 40px;
    letter-spacing: 4px ;
    word-spacing: 8px;
}
